/*
Adding print support. The print styles are based on the the great work of
Andreas Hecht in https://www.jotform.com/blog/css-perfect-print-stylesheet-98272/.
*/

/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
# Margins & paddings
# Typography
# Page breaks
# Links
# Visibility
--------------------------------------------------------------*/
@media print {

	/* Margins & paddings */
	@page {
		margin: 2cm;
	}

	.entry .entry-header,
	.entry,
	.single .site-main > article > .entry-footer {
		margin-top: 0;
		margin-bottom: 0;
	}

	.site-footer .site-info {
		margin: 0;
	}

	.site-header {
		padding: 0;
	}

	/* Fonts */
	body {
		font: 13pt Georgia, "Times New Roman", Times, serif;
		font: 13pt var(--global--font-secondary, Georgia, "Times New Roman", Times, serif);
		line-height: 1.3;
		background: #fff !important;
		color: #000;
	}

	.has-background-dark * {
		color: #000 !important;
	}

	h1,
	.entry-title,
	.singular .entry-title,
	.page-title {
		font-size: 22pt;
		font-weight: bold;
	}

	h2,
	h3,
	h4,
	.has-regular-font-size,
	.has-large-font-size,
	h2.author-title,
	p.author-bio,
	.comments-title,
	.archive-description {
		font-size: 14pt;
		margin-top: 25px;
	}

	.comment-meta,
	.comment-meta .comment-author .fn {
		font-size: 13pt;
	}

	/* Page breaks */
	a {
		page-break-inside: avoid;
	}

	blockquote {
		page-break-inside: avoid;
	}

	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		page-break-after: avoid;
		page-break-inside: avoid;
	}

	img {
		page-break-inside: avoid;
		page-break-after: avoid;
	}

	table,
	pre,
	figure {
		page-break-inside: avoid;
	}

	ul,
	ol,
	dl {
		page-break-before: avoid;
	}

	/* Links */
	a:link,
	a:visited,
	a {
		background: transparent;
		font-weight: bold;
		text-decoration: underline;
		text-align: left;
	}

	a[href^=http]:after {
		content: " < " attr(href) "> ";
	}

	a:after > img {
		content: "";
	}

	article a[href^="#"]:after {
		content: "";
	}

	a:not(:local-link):after {
		content: " < " attr(href) "> ";
	}

	.entry-title a:after {
		content: "\a< " attr(href) "> ";
		white-space: pre;
		font-size: 14pt;
	}

	.cat-links a:after,
	.tags-links a:after,
	.byline a:after,
	.comment-metadata a:after,
	.wp-block-calendar a:after,
	.wp-block-tag-cloud a:after,
	.page-links a:after {
		content: "";
	}

	/* Visibility */
	.primary-navigation,
	.site-title + .primary-navigation,
	.footer-navigation,
	.entry-footer,
	.post-navigation,
	.navigation.pagination,
	.widget-area,
	.edit-link,
	.more-link,
	.comment-reply,
	.reply,
	.comment .comment-metadata .edit-link,
	.comment-respond,
	#dark-mode-toggler {
		display: none !important;
	}

	.entry .entry-content .wp-block-button .wp-block-button__link,
	.entry .entry-content .button,
	.entry .entry-content .wp-block-file__button {
		color: #000;
		background: none;
	}
}
@media screen and (max-width:1024px){}@media screen and (max-width:992px){.info_home img{width:100%;margin-top:65px}.slider{margin-top:0}.slider img{width:100%;height:350px!important;max-height:550px;object-fit:cover;object-position:top}.head-info{padding-bottom:5px;display:none}}@media screen and (max-width:768px){.margin-postion{margin-top:0}.navbar-brand{display:block!important}.phone_full{display:none!important}.navbar-default{display:block!important}.content img{height:auto!important;object-fit:cover;width:100%!important}.slider{margin-top:0}.slider img{width:100%;height:171px!important;max-height:550px;object-fit:cover}.dropdown-menu{border:none;display:none;opacity:1}.navbar-default .navbar-nav .open .dropdown-menu>li>a:focus,.navbar-default .navbar-nav .open .dropdown-menu>li>a:hover{color:#fff!important;background-color:transparent}.navbar-nav>li ul li a{color:#fff!important}.nav-pills>li{width:49%;margin:5px 2px}.box-tab-2 li{width:31%;margin:5px 2px}.tab-menu-sub .active{border:none;padding-top:3px;margin:2px;padding-bottom:3px}.nav-pills{width:100%}.news-box{margin:10px 0!important;padding-left:0}.news-box .bg-box-da{padding-right:15px}.tab_option{margin:2px;padding:0}.bg-box-da{background:rgba(170,26,36,.6);position:absolute;width:100%;top:0;height:100%;margin:0;padding:15px}.tab-content>.active{padding-right:5px}.box-icon-mb h3:after{top:36px}.header{position:relative}.nava{top:0}.navbar-brand{padding:6px;line-height:0;height:auto}.navbar-default .navbar-collapse,.navbar-default .navbar-form{background-color:#fff;border-bottom:1px solid #ccc}.share_footer{float:none}.maps{margin-top:0;text-align:center}.head-info{padding-bottom:5px;display:none}}@media screen and (max-width:420px){.nav-pills>li{width:100%}.news-box{padding:0!important}.news-box .bg-box-da{padding-right:15px;top:0;padding-bottom:15px}.content img{height:auto!important;object-fit:cover;width:100%!important}.width-100{width:100%}.info-contac a{float:none}.share-mxh{float:none;text-align:center}.head-info{padding-bottom:5px;display:none}.slider{margin-top:0}}
