# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\wordpress-web\dientubachkhoa\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
